{% extends "base.html" %}

{% block title %}Battery Data - Tesla Fleet Manager{% endblock %}

{% block content %}
<h2>Battery List</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Vehicle Model</th>
            <th>Charge Cycles</th>
            <th>Health (%)</th>
        </tr>
    </thead>
    <tbody>
        {% for battery in batteries %}
            <tr>
                <td>{{ battery.vehicle.model_name }}</td>
                <td>{{ battery.charge_cycles }}</td>
                <td>{{ battery.health_percentage }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
